<!--// Android starts -->
<div class="phone android col-md-4 col-sm-12 col-xs-12">
  <div class="android-holder phone-holder">
    <div class="android-holder-inner">
      <div class="slider flexslider">
        <ul class="slides">
          <li>
            <%= image_tag "android/android-slide-1.png" %>
          </li>
          <li>
            <%= image_tag "android/android-slide-2.png" %>
          </li>
          <li>
            <%= image_tag "android/android-slide-3.png" %>
          </li>
        </ul><!--//slides-->
      </div><!--//flexslider-->
    </div><!--//phone-holder-inner-->
  </div><!--//iphone-holder-->
</div><!--//iphone-->
<!--// Android ends -->